<div ng-controller="OrderDetailsController" ng-init="getOrder();">
  <div class="row">
    <div ng-include="'/views/arrow-back-section.client.view.html'"></div>
    <div class="col-xs-12">
      <h1>Order / <span class="ct-subtitle">Details</span></h1>
    </div>
  </div>
  <div class="row loading-component loading-component-hide">
    <div class="col-sm-8 col-xs-12">
      <p><span class="order-details-label">Order No.</span>&nbsp;&nbsp;{{order.orderNumber}}</p>
      <p><span class="order-details-label">Customer</span>&nbsp;&nbsp;{{order.customerEmail}}<a ng-href="/customers/{{order.customerId}}"><img src="./images/customer.png" class="ct-customer-button"/></span></a></p>
      <p><span class="order-details-label">Order Status:</span>&nbsp;&nbsp;{{order.orderState}}</p>
    </div>
    <div class="col-sm-4 col-xs-12" ng-controller="OrdersController" ng-if="order.orderState === 'Open'">
      <div class="col-sm-12 col-xs-12" style="padding: 10px;">
        <button setup-confirmation-page data-popout="true" class="btn ct-button" style="min-width: 140px;min-height:35px;" data-id="{{order.id}}" data-status="Complete" data-toggle="confirmation" data-placement="bottom" data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt"
        data-btn-ok-class="ct-button"
        data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
        data-btn-cancel-class="ct-cancel-button">Complete Order</button>
      </div>
      <div class="col-sm-12 col-xs-12" style="padding: 10px;">
        <button setup-confirmation-page data-popout="true" class="btn ct-cancel-button" style="min-width: 140px;min-height:35px;" data-id="{{order.id}}" data-status="Cancelled" data-toggle="confirmation" data-placement="bottom"data-btn-ok-label="" data-btn-ok-icon="glyphicon glyphicon-share-alt"
        data-btn-ok-class="ct-button"
        data-btn-cancel-label="" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
        data-btn-cancel-class="ct-cancel-button">Cancel Order</button>
      </div>
    </div>
  </div>
  <div class="row loading-component loading-component-hide">
    <div class="col-sm-12">
      <h3>Items</h3>
    </div>
  </div>
  <div class="st-table table table-custom table-component container-fluid loading-component loading-component-hide">
    <div class="row table-component-head">
      <div class="col-sm-3 col-xs-6">Product</div>
      <div class="col-sm-offset-3 col-sm-2">Qty.</div>
      <div class="col-sm-2">Unit Price</div>
      <div class="col-sm-2 text-right">Price</div>
    </div>
    <div class="row" ng-repeat="item in order.lineItems" style="border-bottom: 1px solid #CCCCCC;">
      <div class="col-sm-3">
        <div class="img-panel">
          <img check-image ng-src="{{item.variant.images[0].url}}" class="img-responsive" style="max-width: 100px;"/>
        </div>
      </div>
      <div class="col-sm-3 overflow-ellipse-text">
        <p><i>{{item.variant.sku}}</i></p>
        <p>{{item.name.en}}</p>
      </div>
      <div class="col-sm-2 overflow-ellipse-text">
        {{item.quantity}}
      </div>
      <div class="col-sm-2">
        {{item.price.value.currencyCode}} {{(item.price.value.centAmount/100).toFixed(2)}}
      </div>
      <div class="col-sm-2 text-right">
        {{item.totalPrice.currencyCode}} {{(item.totalPrice.centAmount/100).toFixed(2)}}
      </div>
    </div>
  </div>
  <div class="row loading-component loading-component-hide">
    <div class="col-sm-4"></div>
    <div class="col-sm-8 order-totals text-right">
      <div class="number-line">
        <div class="label-number">Subtotal:</div>
        <div class="number">
          <span>{{order.taxedPrice.totalNet.currencyCode}} {{(order.taxedPrice.totalNet.centAmount/100).toFixed(2)}}</span>
        </div>
      </div>
      <div class="number-line">
        <div class="label-number">Shipping:</div>
        <div class="number">
          <span ng-if="!order.shippingInfo">EUR 0.00</span><span ng-if="order.shippingInfo">{{order.shippingInfo.shippingRate.price.currencyCode}} {{(order.shippingInfo.shippingRate.price.centAmount/100).toFixed(2)}}</span>
        </div>
      </div>
      <div class="number-line">
        <div class="label-number">Taxes:</div>
        <div class="number">
          <span>{{order.taxedPrice.totalGross.currencyCode}} {{((order.taxedPrice.totalGross.centAmount - order.taxedPrice.totalNet.centAmount)/100).toFixed(2)}}</span>
        </div>
      </div>
      <div class="number-line total-line">
        <div class="label-number">Grand Total:</div>
        <div class="number">
          <span>{{order.taxedPrice.totalGross.currencyCode}} {{(order.taxedPrice.totalGross.centAmount/100).toFixed(2)}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
