<div data-ng-controller="InventoryDetailController" data-ng-init="openProductDetail();">
  <div class="row">
    <div class="col-xs-12 arrow-back">
      <a href="/inventories"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-12">
      <h1>Inventories / <span class="ct-subtitle">{{product.name.en}}</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img src="{{product.images[0].url}}" class="img-responsive">
    </div>
    <div class="col-sm-8 product-details">
      <p><b>Product Description</b></p>
      <p>{{product.description.en}}</p>
      <br/>
      <p><b>Details</b></p>
      <p>100% Polyester. Chemische Renigung</p>
      <p class="product-detail-price"><b>{{product.prices[0].value.currencyCode}} {{product.prices[0].value.centAmount/100}}</b></p>
      <p><span class="circle circle-green"></span> Available!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Recommend these products to your customer</h3>
    </div>

    <div class="col-sm-3 col-xs-12">
      <img src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/081506_1_medium.jpg" class="product-thumbnail-image">
      <div class="product-thumbnail-base">
        <p class="product-thumbnail-price"><b>{{product.prices[0].value.currencyCode}} 130</b></p>
        <p><span class="circle circle-green"></span> Available!</p>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <img src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/081119_1_large.jpg" class="product-thumbnail-image">
      <div class="product-thumbnail-base">
        <p class="product-thumbnail-price"><b>{{product.prices[0].value.currencyCode}} 92</b></p>
        <p><span class="circle circle-green"></span> Available!</p>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <img src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/080592_1_large.jpg" class="product-thumbnail-image">
      <div class="product-thumbnail-base">
        <p class="product-thumbnail-price"><b>{{product.prices[0].value.currencyCode}} 148.75</b></p>
        <p><span class="circle circle-green"></span> Available!</p>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <img src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/080592_1_large.jpg" class="product-thumbnail-image">
      <div class="product-thumbnail-base">
        <p class="product-thumbnail-price"><b>{{product.prices[0].value.currencyCode}} 148.75</b></p>
        <p><span class="circle circle-green"></span> Available!</p>
      </div>

    </div>
  </div>
</div>
