<div data-ng-controller="InventoriesController" data-ng-init="loadInventories();">
  <h1>INVENTORIES</h1>
  {{showMask}}
  <h2 ng-if="showMask">LOADING ...</h2>
  <table>
    <thead>
      <th>SKU</th>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Quantity</th>
    </thead>
    <tbody>
      <tr ng-repeat="inventory in inventories">
        <td>{{inventory.sku}}</td>
        <td>{{inventory.name}}</td>
        <td><img style="max-width:45px;" src="{{inventory.image.url}}"></td>
        <td>{{inventory.price.value.centAmount/100}} {{inventory.price.value.currencyCode}}</td>
        <td>{{inventory.availableQuantity}}</td>
      <tr>
    </tbody>
  </table>
</div>
