<div>
  <h1>Inventories</h1>
  <h2 ng-if="showMask">LOADING ...</h2>

  <div class="tile-body" ng-controller="PaginatorController">

    <table st-table="rowsDisplayed" class="st-table table table-custom table-component" paginator-entity="inventories" paginator-default-sort="sku" st-pipe="getPage">
        <thead>
            <tr>
                <th colspan="3">
                  <div class="input-group filter-text-box">
                    <input id="filter-text-tmp" placeholder="Fill search ..." class="input-sm form-control input-st-search" type="search" />
                    <input id="filter-text" st-search="sku" st-input-event="change" type="hidden" value="" />
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" onclick="$('#filter-text').val($('#filter-text-tmp').val()).trigger('change');">Search</button>
                    </span>
                  </div>
                </th>
                <th></th>
                <th colspan="2" class="text-right">
                  <div class="btn-group" role="group" data-toggle="buttons">
                      <button type="button" ng-class="{active: itemsPerPage == 10}" ng-click="setItemsPerPage(10)" class="btn btn-default">10
                      </button>
                      <button type="button" ng-class="{active: itemsPerPage == 25}" ng-click="setItemsPerPage(25)" class="btn btn-default">25
                      </button>
                      <button type="button" ng-class="{active: itemsPerPage == 50}" ng-click="setItemsPerPage(50)" class="btn btn-default">50
                      </button>
                  </div>
                </th>
            </tr>
            <tr>
              <th colspan="6"></th>
            </tr>
            <tr>
                <th st-sort="sku" st-sort-default class="sorting">SKU</th>
                <th class="text-center">Image</th>
                <th st-sort="name" class="sorting">Name</th>
                <th st-sort="totalPrice.centAmount" class="sorting">Price</th>
                <th st-sort="availableQuantity" class="sorting text-center">Availability</th>
                <th>Other Stores</th>
            </tr>
        </thead>
        <tbody>
            <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowsDisplayed" ng-click="redirect('/inventories/product/' + row.productId + '/' + row.sku);">
                <td>{{::row.sku}}</td>
                <td class="text-center table-image"><img style="max-width:45px;" src="{{row.image.url}}"></td>
                <td>{{::row.name}}</td>
                <td>{{::row.price.value.centAmount / 100 | currency: row.price.value.currencyCode + " "}}</td>
                <td class="text-center"><span ng-class="row.availableQuantity>0?'badge-green':'badge-red'" class="badge bg-info">{{::row.availableQuantity}}</span></td>
                <td><button ng-click='redirect("/inventories/checkStores/" + row.id + "/" + row.sku);' class="ct-button">Check Stores</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsPerPage" st-template="views/paginatorSelectPageTemplate.html"></div>
                </td>
            </tr>
        </tfoot>
    </table>

  </div>
</div>
