<div class="page page-dashboard" ng-controller="DashboardCtrl">

  <div class="pageheader">
    <h2>{{page.title}}</h2>
    <p>
      <h3>Welcome <b>DEMO</b> to the <b>CT INSTORE CENTER</b>, view customer insights, recommend products and much more.</h3>
    </p>
  </div>


  <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col-md-12">
      <!-- tile -->
      <section class="tile">

        <!-- tile header -->
        <div class="tile-header bg-greensea dvd dvd-btm">
          <h3 class="custom-font"><strong>Sales </strong>Graph</h3>
        </div>
        <!-- /tile header -->

        <!-- tile widget -->
        <div class="dashboard-graph" ng-controller="StatisticsChartCtrl">

          <flot dataset="dataset" options="options" height="250px"></flot>

        </div>
        <!-- /tile widget -->

      </section>
      <!-- /tile -->
    </div>
    <!-- /col -->
  </div>
  <!-- /row -->


  <!-- row -->
  <div class="row dashboard-info-boxes">
    <div class="col-sm-3 col-xs-12">
      <div class="stats-box">
        <div class="stats-icon">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <h3 class="stats-label-container">
          <a class="stats-label" href="/orders">
            <span>Orders</span>
          </a>
        </h3>
        <div class="stats-total-container">
          <a class="stats-total" href="/orders">{{totalOrders}}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="stats-box">
        <div class="stats-icon">
          <i class="fa fa-usd"></i>
        </div>
        <h3 class="stats-label-container">
          <a class="stats-label" href>
            <span>Revenue</span>
          </a>
        </h3>
        <div class="stats-total-container">
          <a class="stats-total" href>{{totalSales.totalSalesCentAmount/100}}
            <span ng-if="totalSales.currencyCode==='EUR'">€<span>
            <span ng-if="totalSales.currencyCode==='USD'">$<span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="stats-box">
        <div class="stats-icon">
          <i class="fa fa-users"></i>
        </div>
        <h3 class="stats-label-container">
          <a class="stats-label" href="/customers">
            <span>Customers</span>
          </a>
        </h3>
        <div class="stats-total-container">
          <a class="stats-total" href="/customers">{{totalCustomers}}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <div class="stats-box">
        <div class="stats-icon">
          <i class="fa fa-archive"></i>
        </div>
        <h3 class="stats-label-container">
          <a class="stats-label" href="/inventories">
            <span>Products in Stock</span>
          </a>
        </h3>
        <div class="stats-total-container">
          <a class="stats-total" href="/inventories">{{totalProducts}}</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /row -->


</div>
