<!DOCTYPE html>
<html lang="en" ng-controller="MainCtrl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title>{{title}}</title>

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">

  <!-- Vendor CSS Files -->
  {% for vendorCssFile in vendorCssFiles %}<link rel="stylesheet" href="{{vendorCssFile}}">{% endfor %}

  <!-- Application CSS Files -->
  {% for applicationCssFile in applicationCssFiles %}<link rel="stylesheet" href="{{applicationCssFile}}">{% endfor %}
</head>

<body class="header-fixed">

  <div id="pageloader" page-loader></div>

  <div class="container-fluid" autoscroll="false">
    <div class="row header-container">
      <section id="header" class="main-header" ng-include="'views/header.client.view.html'"></section>
    </div>
    <div class="row">
      <div class="col-sm-1 col-xs-2 siderbar-container">
        <nav class="navbar navbar-default navbar-fixed-side">
          <aside id="sidebar" class="main-sidebar" ng-include="'views/sidebar.client.view.html'"></aside>
        </nav>
      </div>
      <div class="col-xs-12 content-container">
        <div class="view-container" ui-view-container>
          <section id="content" autoscroll="false">
            {% block content %}{% endblock %}
          </section>
        </div>
      </div>
    </div>
  </div>

  <!--Vendor JavaScript Files-->
  {% for vendorJsFile in vendorJsFiles %}<script src="{{vendorJsFile}}"></script>{% endfor %}

  <!--Application JavaScript Files-->
  {% for applicationJsFile in applicationJsFiles %}<script src="{{applicationJsFile}}"></script>{% endfor %}

</body>

</html>
