<div data-ng-controller="CustomerDetailController" data-ng-init="openCustomerDetail();">
  <div class="row">
    <div class="col-xs-12 arrow-back">
      <a href="/customers"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-12">
      <h1>Customer / <span class="ct-subtitle">Insights</span></h1>
    </div>
  </div>
  <div class="row loading-component loading-component-hide">
    <div class="col-sm-6">
      <div class="panel panel-default" style="background-color:#FAFAFA;">
        <div class="panel-body">
          <p><b>Customer Details</b></p>
          <p>{{customer.firstName}} {{customer.lastName}}</p>
          <p>{{customer.email}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default" style="background-color:#FAFAFA;">
        <div class="panel-body" ng-if="customer.addresses.length > 0">
          <p><b>Address</b></p>
          <p>{{customer.addresses[0].streetName}}</p>
          <p>{{customer.addresses[0].postalCode}}</p>
          <p>{{customer.addresses[0].city}}, {{customer.addresses[0].country}}</p>
        </div>
        <div class="panel-body" ng-if="customer.addresses.length === 0">
          <p><b>Address</b></p>
          <p>The customer has no addresses</p>
        </div>
      </div>

    </div>
  </div>
  <div class="row loading-component loading-component-hide">
    <div class="col-sm-7"><h3>Purchased Products</h3></div>
    <div class="col-sm-5" style="padding-top: 15px;">
      <div class="col-sm-4">
        Sort products by:
      </div>
      <div class="col-sm-8">
        <select id="sort" name="sort" class="form-control" style="width:120px;" ng-change="sortData(selectedSortMethod);" ng-model="selectedSortMethod">
          <option value="placedOn-desc">Date Desc</option>
          <option value="placedOn-asc">Date Asc</option>
          <option value="name-desc">Name Desc</option>
          <option value="name-asc">Name Asc</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12" ng-if="customer.products.length === 0">
      <p>This customer has no information to show</p>
    </div>
  </div>
  <div class="row loading-component loading-component-hide same-height-row">
    <div ng-repeat="product in customer.products" class="col-sm-3 col-xs-12">
      <img src="{{product.images[0].url}}" class="product-thumbnail-image">
      <div class="product-thumbnail-base">
        <p>{{product.name}}</p>
        <p class="order-purchase-date">Ordered on:<br/>
        {{product.placedOn | date:'MM/dd/yyyy'}}</p>
      </div>
    </div>
  </div>
  <div class="row loading-component loading-component-hide">
    <div class="col-md-12">
      <h3>Recommend these products to your customer</h3>
    </div>

    <div class="col-sm-3 col-xs-12">
      <img src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/081506_1_medium.jpg" class="product-thumbnail-image">
      <div class="product-thumbnail-base">
        <p class="product-thumbnail-price"><b>{{product.prices[0].value.currencyCode}} 130</b></p>
        <p><span class="circle circle-green"></span> Available!</p>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <img src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/081119_1_large.jpg" class="product-thumbnail-image">
      <div class="product-thumbnail-base">
        <p class="product-thumbnail-price"><b>{{product.prices[0].value.currencyCode}} 92</b></p>
        <p><span class="circle circle-green"></span> Available!</p>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <img src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/080592_1_large.jpg" class="product-thumbnail-image">
      <div class="product-thumbnail-base">
        <p class="product-thumbnail-price"><b>{{product.prices[0].value.currencyCode}} 148.75</b></p>
        <p><span class="circle circle-green"></span> Available!</p>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      <img src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/080592_1_large.jpg" class="product-thumbnail-image">
      <div class="product-thumbnail-base">
        <p class="product-thumbnail-price"><b>{{product.prices[0].value.currencyCode}} 148.75</b></p>
        <p><span class="circle circle-green"></span> Available!</p>
      </div>
    </div>
  </div>
</div>
