<div data-ng-controller="CustomerDetailController" data-ng-init="openCustomerDetail();">
  <div class="row">
    <div class="col-sm-11">
      <h1>Customer Insights</h1>
    </div>
    <div class="col-sm-1">
      <a href="/customers"><i class="fa fa-arrow-left arrow-back" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Customer Details</h4>
          <p>{{customer.firstName}} {{customer.lastName}}</p>
          <p>{{customer.email}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body" ng-if="customer.addresses.length > 0">
          <h4>Address</h4>
          <p>{{customer.addresses[0].streetName}}</p>
          <p>{{customer.addresses[0].postalCode}}</p>
          <p>{{customer.addresses[0].city}}, {{customer.addresses[0].country}}</p>
        </div>
        <div class="panel-body" ng-if="customer.addresses.length === 0">
          <h4>Address</h4>
          <p>The customer has no addresses</p>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"><h3>Placed Products</h3></div>
    <div class="col-sm-12" ng-if="customer.products.length === 0">
      <p>This customer has no information to show</p>
    </div>
    <div class="col-sm-12" ng-if="customer.products.length > 0">
      <label>Sort Products By: </label>
      <select ng-change="sortData(selectedSortMethod);" ng-model="selectedSortMethod">
        <option value="placedOn-desc">Date Desc</option>
        <option value="placedOn-asc">Date Asc</option>
        <option value="name-desc">Name Desc</option>
        <option value="name-asc">Name Asc</option>
      </select>
    </div>
    <div ng-repeat="product in customer.products" class="col-sm-4">
      <img src="{{product.images[0].url}}" class="product-thumbnail-image">
      <p><b>Ordered at:</b> {{product.placedOn | date:'MM/dd/yyyy'}}</p>
      <p><b>Name:</b> {{product.name}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Recommended Products</h3>
    </div>

    <div class="col-sm-4">
      <img src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/081506_1_medium.jpg" class="product-thumbnail-image">
      <p><b>Price:</b> EUR 130</p>
      <p><span class="badge-green badge bg-info">Available!</span></p>
    </div>
    <div class="col-sm-4">
      <img src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/081119_1_large.jpg" class="product-thumbnail-image">
      <p><b>Price:</b> EUR 92</p>
      <p><span class="badge-red badge bg-info">Out of stock!</span></p>
    </div>
    <div class="col-sm-4">
      <img src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/080592_1_large.jpg" class="product-thumbnail-image">
      <p><b>Price:</b> EUR 148.75</p>
      <p><span class="badge-green badge bg-info">Available!</span></p>
    </div>
  </div>
</div>
