<div data-ng-controller="CustomerDetailController" data-ng-init="openCustomerDetail();">
  <div class="row">
    <div ng-include="'/views/arrow-back-section.client.view.html'"></div>
    <div class="col-xs-12">
      <h1>Customer / <span class="ct-subtitle">Insights</span></h1>
    </div>
  </div>
  <div class="row loading-component loading-component-hide">
    <div class="col-sm-6">
      <div class="panel panel-default ct-customer-panels">
        <div class="panel-body">
          <img src="./images/customer.png"/>
          <p><b>Customer Details</b></p>
          <p>{{customer.firstName}} {{customer.lastName}}</p>
          <p>{{customer.email}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default ct-customer-panels">
        <div class="panel-body" ng-if="customer.addresses.length > 0">
          <img src="./images/address.png"/>
          <p><b>Address</b></p>
          <p>{{customer.addresses[0].streetName}}</p>
          <p>{{customer.addresses[0].postalCode}}</p>
          <p>{{customer.addresses[0].city}}, {{customer.addresses[0].country}}</p>
        </div>
        <div class="panel-body" ng-if="customer.addresses.length === 0">
          <img src="./images/address.png"/>
          <p><b>Address</b></p>
          <p>The customer has no addresses</p>
        </div>
      </div>

    </div>
  </div>
  <div class="row loading-component loading-component-hide">
    <div class="col-sm-7"><h3>Purchased Products</h3></div>
    <div class="col-sm-5 text-right customer-filter-products">
      <div class="btn-group btn-block">
        <label for="sort">Sort products by:</label>
        <select id="sort" name="sort" class="form-control" ng-change="sortData(selectedSortMethod);" ng-model="selectedSortMethod">
          <option value="placedOn-desc">Date Descending</option>
          <option value="placedOn-asc">Date Ascending</option>
          <option value="name-desc">Name Descending</option>
          <option value="name-asc">Name Ascending</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12" ng-if="customer.products.length === 0">
      <p>This customer has no information to show</p>
    </div>
  </div>
  <br />
  <div class="row loading-component loading-component-hide same-height-row">
    <div ng-repeat="product in customer.products" class="col-sm-3 col-xs-12">
      <a ng-href="/inventories/product/{{product.productId}}/{{product.sku}}">
        <div class="img-panel img-panel-fix-size">
          <img check-image src="{{product.images[0].url}}" class="product-thumbnail-image">
        </div>
        <div class="product-thumbnail-base">
          <p class="name overflow-ellipse-text">{{product.name}}</p>
          <p class="order-purchase-date">Ordered on:<br/>
          {{product.placedOn | date:'MM/dd/yyyy'}}</p>
        </div>
      </a>
    </div>
  </div>
  <div ng-include="'/views/recommend-section.client.view.html'"></div>
</div>
