<nav ng-if="pages.length >= 2" class="paginator-arrows">
  <ul class="pagination">
    <li class="ct-pagination"><a ng-click="selectPage(1)">&#171;</a>
    </li>
    <li class="ct-pagination"><a ng-click="selectPage(currentPage - 1)">Previous</a>
    </li>
    <li class="ct-pagination ct-pagination-center">
      <a>{{currentPage}} of {{numPages}}</a>
    </li>
    <li class="ct-pagination"><a ng-click="selectPage(currentPage + 1)">Next</a>
    </li>
    <li class="ct-pagination"><a ng-click="selectPage(numPages)">&#187;</a></li>
  </ul>
</nav>
