  <div class="page page-dashboard" ng-controller="HomeController as homeCtrl">
    <div class="row">
      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-4">
                <i class="fa fa-users fa-4x"></i>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-8">
                <p class="text-elg text-strong mb-0">{{homeCtrl.totalCustomers}}</p>
                <span>Total Customers</span>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-greensea">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-4">
                <a href=javascript:;><i class="fa fa-cog fa-2x"></i> Settings</a>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-4">
                <a href=javascript:;><i class="fa fa-chain-broken fa-2x"></i> Content</a>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-4">
                <a href=javascript:;><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
        </div>
      </div>
      <!-- /col -->

      <!-- col -->
      <div class="card-container col-lg-3 col-sm-6 col-sm-12">
        <div class="card">
          <div class="front bg-lightred">

            <!-- row -->
            <div class="row">
              <!-- col -->
              <div class="col-xs-4">
                <i class="fa fa-shopping-cart fa-4x"></i>
              </div>
              <!-- /col -->
              <!-- col -->
              <div class="col-xs-8">
                <p class="text-elg text-strong mb-0">{{homeCtrl.totalOrders}}</p>
                <span>Total Orders</span>
              </div>
              <!-- /col -->
            </div>
            <!-- /row -->

          </div>
          <div class="back bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-cog fa-2x"></i> Settings</a>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-chain-broken fa-2x"></i> Content</a>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        </div>
      </div>
      <!-- /col -->
    </div>
  </div>
