<div class="row loading-component loading-component-hide">
  <div class="col-md-12">
    <h3>Recommend these products to your customer</h3>
  </div>

  <div class="col-sm-3 col-xs-12">
    <div class="img-panel">
      <img check-image src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/081506_1_medium.jpg" class="product-thumbnail-image">
    </div>
    <div class="product-thumbnail-base">
      <p>Chino Entre Amis brown</p>
      <p class="product-thumbnail-price"><b>EUR 130.00</b></p>
      <p><span class="circle circle-green"></span> Available!</p>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="img-panel">
      <img check-image src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/081119_1_large.jpg" class="product-thumbnail-image">
    </div>
    <div class="product-thumbnail-base">
      <p>Scarf Altea dark blue</p>
      <p class="product-thumbnail-price"><b>EUR 92.00</b></p>
      <p><span class="circle circle-green"></span> Available!</p>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="img-panel">
      <img check-image src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/080592_1_large.jpg" class="product-thumbnail-image">
    </div>
    <div class="product-thumbnail-base">
      <p>Shirt Himons beige-white</p>
      <p class="product-thumbnail-price"><b>EUR 148.75</b></p>
      <p><span class="circle circle-red"></span> Out of Stock!</p>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="img-panel">
      <img check-image src="https://s3-eu-west-1.amazonaws.com/commercetools-maximilian/products/081140_1_large.jpg" class="product-thumbnail-image">
    </div>
    <div class="product-thumbnail-base">
      <p>Top Jucca green</p>
      <p class="product-thumbnail-price"><b>EUR 90.75</b></p>
      <p><span class="circle circle-green"></span> Available!</p>
    </div>

  </div>
</div>
