<div class="row loading-component loading-component-hide same-height-row">
  <div class="col-md-12">
    <h3>Recommend these products to your customer</h3>
  </div>
  <div class="col-sm-3 col-xs-12" ng-repeat="recommendedProduct in data.recommendedProducts">
    <a ng-href="/inventories/product/{{recommendedProduct.id}}/{{recommendedProduct.sku}}">
      <div class="img-panel img-panel-fix-size">
        <img check-image src="{{recommendedProduct.image.url}}" class="product-thumbnail-image">
      </div>
      <div class="product-thumbnail-base" style="min-height: 147px;">
        <p>{{recommendedProduct.name}}</p>
        <p class="product-thumbnail-price"><b>{{recommendedProduct.price.value.currencyCode}} {{(recommendedProduct.price.value.centAmount/100).toFixed(2)}}</b></p>
        <p ng-if="recommendedProduct.availableQuantity > 0"><span class="circle circle-green"></span> Available!</p>
        <p ng-if="recommendedProduct.availableQuantity <= 0"><span class="circle circle-red"></span> Out of Stock!</p>
      </div>
    </a>
  </div>
</div>
