<div id="sidebar-wrap" ng-controller="SidebarCtrl">
  <ul id="navigation" class="list-unstyled" ripple>
    <li ui-sref-active="active"><a ui-sref="dashboard" href="/dashboard"><fa name="dashboard"></fa></a></li>
    <li ui-sref-active="active"><a ui-sref="entity" href="/inventories"><fa name="table"></fa></a></li>
    <li ui-sref-active="active"><a ui-sref="entity" href="/orders"><fa name="shopping-cart"></fa></a></li>
    <li ui-sref-active="active"><a ui-sref="entity" href="/customers"><fa name="users"></fa></a></li>
  </ul>
</div>
