@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

/* Global */
body, html {
  color: #213e48;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
}

input[type="search"]{-webkit-appearance:none;}

#pageloader {
  /*z-index: 20001;*/
}


/*  Header  */
.header-container {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.16);
  min-height: 56px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header-container #header .row > div {padding-top: 12px;}

.header-container #header .nav-sign-out div {
  text-align: right;
  padding: 2px 0px;
}
.header-container #header .nav-sign-out a {color: #666;}

.header-container #header .nav-sign-out img {max-width: 25px;}

.header-container #header select {
  line-height: 24px!important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;

  background: #fafafa;
  color: #848484;
  border-radius: 6px;

  border-width: 0px;
  box-shadow: none;

  text-transform: capitalize;
  -webkit-appearance:none;
}


/*  Sidebar  */
.siderbar-container {
  position: fixed;
  height: 100vh;
  top: 56px;
  z-index: 19999;
  background: #213e48;
  max-width: 70px;
}

.siderbar-container .navbar {
  position: relative;
  top: 0;
  height: 100vh;

  background-color: transparent;
  border: none;
  text-align: center;
  color: white;
  font-size: 28px;
}

.siderbar-container #sidebar #navigation {margin: 10px 0px;}
.siderbar-container #sidebar #navigation li {margin-bottom: 20px;}
.siderbar-container #sidebar #navigation li a {color: white;}
.siderbar-container #sidebar #navigation li a:hover,
.siderbar-container #sidebar #navigation li.active a {color: #87d8c8;}


/*  Container */
.content-container {
  top: 56px;
}

/* Loading Spiner */
#main-spinner {
  width: 40px;
  height: 40px;

  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.loading-component-hide {
  visibility: hidden;
}

/* Dashboard */

.dashboard-graph .legend .legendLabel {padding: 0px 10px 0px 4px;}

.dashboard-info-boxes {
  padding-top: 20px;
}

.dashboard-info-boxes .stats-box{
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  display: inline-block;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.dashboard-info-boxes .stats-icon {
  color: #20ad92;
  padding: 20px;
  font-size: 3rem;
}

.dashboard-info-boxes .stats-label-container {
  font-weight: 400;
  font-size: .9rem;
  height: 18px;
  margin: 0;
}

.dashboard-info-boxes .stats-label {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  color: #213e48;
  display: inline-block;
  padding: 8px;
}

.dashboard-info-boxes .stats-total-container {
  background-color: #f2f2f2;
}

.dashboard-info-boxes .stats-total {
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  color: #213e48;
  display: block;
  font-size: 1.46rem;
  font-weight: 400;
  padding: 20px;
}

.date-filter i, .date-filter span{
  color: #213e48;
}

h1 {
  font-family: Open Sans,sans-serif;
  font-size: 30px;
  color: #213E48;
  letter-spacing: 0;
}

h3 {
  font-family: Open Sans,sans-serif;
  font-size: 24px;
  color: #213E48;
  letter-spacing: 0;
}

.ct-subtitle {
  color:#969696;
}

/* Login */

.login-content {
    background: #f2f2f2;
    width: 100%;
    height: 100vh;
    overflow-x: scroll
}

.login-title {
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    border-bottom: none;
    margin-bottom: 0px;
}

.login-box {
    width: 350px;
    margin: 7% auto
}

.login-header {
    background: #213e48;
    padding: 10px
}

.login-logo {
    width: 163px;
    height: 45px;
    padding: 3px 0
}

.login-copyright {
    font-size: .9rem;
    text-align: center;
    margin-top: 20px
}

.login-holder {
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.24);
    text-align: left;
    background: #fff
}

.login-form {
    padding: 20px 20px 30px;
}

.login-fieldset {
    border: 0;
    padding: 10px;
}

.login-label {
    text-align: left;
    margin-top: 20px
}

.login-input-text {
    width: 100%;

    border-color: #ccc;
    background-color: #fff;

    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color: #484848;
    font-weight: 500;
    font-size: 1rem;
    font-family: Open Sans,sans-serif!important;
    padding: 7.5px 10px;
    outline: none;
    box-shadow: none

    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.login-input-text:last-of-type {
    margin-bottom: 25px
}

.login-error-message {
    margin: 0;
    padding: 20px 10px;
    background-color: #fdf2f4;
    color: #e60050;
    border-bottom: 1px solid #e60050;
}

.forms-label {
    color: #666;
    display: block;
    margin-bottom: 5px
}

.button-full {
    width: 100%
}

.button-button {
    background: #ccc;
    border: none;
    border-radius: 6px;
    color: #484848;
    cursor: pointer;
    display: inline-block;
    font-family: Open Sans,sans-serif;
    font-size: 1rem;
    outline: 0;
    padding: 7px 15px;
    -webkit-transition: background-color .08s linear;
    transition: background-color .08s linear;
    vertical-align: middle;
    min-height: 32px
}

.button-confirm {
    background: #20ad92;
    color: #fff
}

.button-confirm:hover {
    background: #87d8c8
}


/* Table Component */

.table-component {
  margin-top: 10px;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  color: #484848;
  letter-spacing: 0;
}

.table-component .row {
  border-top: 1px solid #ddd;
  padding: 10px 0px;
}
.table-component .row:nth-child(2) {
  border-top: none;
}

.table-component .row > div {
  padding-right: 8px;
  padding-left: 8px;
  min-height: 34px;
}

.table-component .table-component-head {
  margin-top: 10px;
  font-weight: bold;
  background-color: #FAFAFA;
  border-top: none;
}
.table-component .table-component-head > div {
  min-height: initial;
}

.table-component .row span {
  font-weight: bold;
}

.badge-green {background-color: green;}
.badge-red {background-color: red;}

nav.paginator-arrows a,
nav.paginator-arrows a:hover,
nav.paginator-arrows a:active {
  font-size: 14px;
  color: #848484;
  border: none;
  cursor: pointer;
  letter-spacing: 0;
}

.filter-box {
  padding: 10px 0px;
}

.filter-box > div:first-child {
  padding-left: 0px;
}
.filter-box > div:last-child {
  padding-right: 0px;
}

.filter-box .input-sm {height: 22px;}

.filter-text-box {
  width: 100%;
}
.filter-text-box .input-group-btn:last-child {
  padding-left: 22px;
}

@media (max-width: 767px) {
  .filter-box > div {
    margin-bottom: 10px;
  }

  .filter-box > div:last-child {
    margin-bottom: 0px;
  }
}


/* Page Detail */
.arrow-back {
  margin-top: 10px;
}
.arrow-back a{
  font-family: Open Sans;
  font-size: 14px;
  color: #00B6A1;
  margin-top: 5px;
}

.product-details {
  border-top: 2px solid #CCCCCC;
  width:60%;
  padding: 10px;
  margin-left: 10px;
}

.product-detail-price {
  font-family: Open Sans;
  font-size: 24px;
  color: #484848;
  letter-spacing: 0;
}

.product-thumbnail-image{
  max-width: 150px;
}

.product-thumbnail-base{
  background-color: #FAFAFA;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid #EEEEEE;
  min-height: 90px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 1px #EEEEEE;
}
.product-thumbnail-base .name {height: 40px;}

.product-thumbnail-price{
  font-family: Open Sans;
  font-size: 18px;
  color: #484848;
  letter-spacing: 0;
}

.confirmation-buttons a{
  border-radius: 4px !important;
}
.confirmation-buttons a.ct-button, .confirmation-buttons a.btn.btn-primary{
  margin-right: 5px;
}

.ct-button {
  background: #00B6A1;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 7px 15px;
  -webkit-transition: background-color .08s linear;
  transition: background-color .08s linear;
  vertical-align: middle;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 14px;
}

.ct-cancel-button {
  border: 1px solid #E60050;
  border-radius: 6px;
  font-size: 14px;
  color: #E60050;
  letter-spacing: 0;
  line-height: 14px;
  background: #fff;
  font-family: Open Sans,sans-serif;
}

/* Custom styles */
.overflow-ellipse-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 767px) {
  .text-xs-left {
    text-align: left!important;
  }
}

.same-height-row {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display:         flex;
 flex-wrap: wrap;
}
.same-height-row > [class*='col-'] {
 display: flex;
 flex-direction: column;
}

.circle {
  display: inline-block;
  background: black;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0;
}

.circle-green {
  background: #7ED321;
}

.circle-red {
  background: #E60050;
}

.ct-pagination {
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  letter-spacing: 0;
}

.ct-pagination-center {
  color: #848484;
}

.img-panel {
  border: 1px solid #CCCCCC;
  text-align: center;
}

.img-panel > img {
  display: inline!important;
}

.order-details-label {
  font-family: Open Sans,sans-serif;
  font-size: 18px;
  color: #484848;
  letter-spacing: 0;
  width: 130px;
  display: inline-block;
}

.order-totals {
  font-family: Open Sans,sans-serif;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  padding-right: 100px;
}
.order-totals .number-line {margin-bottom: 6px;}
.order-totals .number-line.total-line {
  margin-top: 14px;
  font-size: 18px;
}
.order-totals .label-number {
  width: 150px;
  text-align: right;
  display: inline-block;
}
.order-totals .number {
  width: 130px;
  text-align: right;
  display: inline-block;
}

.order-purchase-date {
  font-family: Open Sans;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
}

.ct-customer-panels {
  background-color:#FAFAFA;
  height: 140px;
  box-shadow: 4px 4px 2px #EEEEEE;
}

.ct-customer-panels img {
  position:absolute;
  top:10px;
  right:25px;
  max-width: 30px;
}

/* Customer Page */
.customer-filter-products {padding-top: 15px;}
.customer-filter-products #sort {
  width:155px;
  display:inline-block;
}

.btn-success {
  color: #fff;
  background-color: #00B6A1;
  border-color: #00B6A1;
}
